body {
    background: linear-gradient(135deg, #3b82f6, #facc15, #ffffff);
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

.mountains-of-christmas-bold {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
}

.header {
    position: relative;
    height: 220px;
    background: url("img/estadio.jpeg") center / cover no-repeat;
}

.header__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,rgba(30, 58, 138, 0.9), rgba(30, 64, 175, 0.8), rgba(30, 58, 138, 0.9));
}

.header__content {
    position: relative;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    padding: 32px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
}

.header__logo {
    width: 10%;
}
.header__text {
    font-size: 14px;
    opacity: 0.9;
}

/*PRIMERA SECCIÓN*/

.container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 16px;
}

/* BOTONES DE ELECCIÓN */

.tabs input {
    display: none;
}

.tabs__labels {
display: grid;
grid-template-columns: 1fr 1fr;
max-width: 400px;
margin: 0 auto 30px;
}

.estrella{
    width: 10%;
}
.trofeo{
    width: 10%;
}

.tabs__labels label {
    text-align: center;
    padding: 10px;
    background: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 999px;
    margin: 0 10px;
}

/* EQUIPOS */

.gridTeams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 4fr));
    gap: 25px;
}

.rank{
    position: absolute;
    top: 14px;
    right: 14px;
    background: white;
    padding: 4px 10px;
    border-radius: 999px;
    font-weight: 700;
    z-index: 1;
}

.box__img{
    width: 100%;
    border-radius: 15px;
}

.box {
    background: white;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.box__title {
    margin-bottom: 10px;
}

.box span {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    color: rgb(85, 85, 85);
}

.box strong {
    color: rgb(37, 99, 235);
}