@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Montserrat:wght@300;400;600;700&family=Bangers&display=swap');

:root {
    --primary-color: rgb(12, 125, 255);
    --primary-color-transparent: rgba(12, 125, 255, 0.473);
    --secondary-color: rgb(255, 242, 53);
    --secondary-color-transparent: rgba(255, 242, 53, 0.473);
    --dark-blue: rgb(15, 52, 96);
    --white-color: white;
    --black-color: black;
    --primary-font: 'Montserrat', sans-serif;
    --title-font: 'Bangers', cursive;
    --pixel-font: 'Press Start 2P', cursive;
}

body {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color), var(--white-color));
    box-sizing: border-box;
    margin: 0;
    font-family: var(--primary-font);
}

.header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: var(--primary-color);
}

.header__content {
    margin-left: 200px;
    padding: 12px;
    color: white;
    display: flex;
}

.header__title {
    font-family: var(--title-font);
    font-weight: lighter;
    gap: 16px;
    font-size: 40px;
}

.header__logo {
    width: 100px;
}

.index {
    background-image: url(images/estadio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 500px;
}

.index__overlay {
    background-color: var(--primary-color-transparent);
    height: 500px;
    align-items: center;
}

.index__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--white-color);
    margin-left: 200px;
}

.index__title {
    font-family: var(--title-font);
    font-weight: lighter;
    font-size: 80px;
    width: 700px;
}

.index__text {
    margin-top: -25px;
    font-size: 28px;
    width: 900px;
}

.index__nav {
    height: 100px;
    padding: 12px;
    color: var(--white-color);
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.index__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-color);
    border-radius: 999px;
    width: 125px;
    height: 45px;
    color: var(--white-color);
    font-size: 18px;
    transition: transform 0.5s ease, background-color 0.2s ease, color 0.2s ease;
}

.index__link:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.55);
}

.index__link-seleccionado {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    width: 125px;
    height: 45px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 18px;
    transition: transform 0.5s ease;
}

.index__link-seleccionado:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.55);
}

.destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.titulo {
    font-family: var(--title-font);
    font-size: 60px;
    font-weight: lighter;
    color: var(--primary-color);
    text-decoration: underline;

}

.boton {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    padding: 20px;
    color: var(--primary-color);
    font-size: 20px;
    transition: transform 0.5s ease, background-color 0.2s ease, color 0.2s ease;
}

.boton:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.55);
}

.newsletter {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
}

.newsletter__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color-transparent);
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    width: 1000px;
    height: 400px;
}

.newsletter__text {
    font-size: 20px;
    width: 700px;

}

.newsletter__email {
    display: flex;
    gap: 15px;
    margin-top: 50px;
}

.newsletter__input {
    width: 500px;
    height: 20px;
    border: 2px solid var(--white-color);
    border-radius: 999px;
    padding: 15px;
}

.newsletter__input:hover {
    border: 2px solid var(--primary-color);
}

.newsletter__input:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

.newsletter__button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    padding: 0 15px 0 15px;
    border-radius: 999px;
    color: var(--white-color);
    font-size: 15px;
    transition: transform 0.5s ease
}

.newsletter__button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.55);
    cursor: pointer;
}

.explora {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.explora__tarjetas {
    display: flex;
    gap: 20px;
    width: 1500px;
}

.explora__tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(135deg, var(--primary-color), var(--primary-color-transparent));
    border: 2px solid var(--white-color);
    border-radius: 20px;
    width: 300px;
    height: 200px;
    color: var(--white-color);
    transition: transform 0.5s ease
}

.explora__tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.55);
}

.explora__texto {
    width: 250px;
}

.plantilla__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
}

.plantilla__tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(135deg, var(--primary-color), var(--white-color));
    gap: 20px;
    padding: 40px;
    border-radius: 30px;
    transition: transform 0.5s ease
}

.plantilla__tarjeta--star {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(135deg, var(--secondary-color), var(--white-color));
    gap: 20px;
    padding: 40px;
    border-radius: 30px;
    transition: transform 0.5s ease;
}

.plantilla__img {
    height: 250px;
    width: 400px;
    border-radius: 20px;
}

.plantilla__title {
    color: var(--secondary-color);
}

.plantilla__title--star {
    color: var(--primary-color);
}

.plantilla__text {
    font-size: 20px;
    color: var(--primary-color);
}

.plantilla__text--star {
    font-size: 20px;
    color: var(--dark-blue);
}

.plantilla__tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.55);
}

.plantilla__tarjeta--star:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px var(--primary-color);
}

.plantilla__valoracion {
    width: 320px;
    font-family: Arial, sans-serif;
    color: var(--primary-color);
}

.plantilla__textoBarra {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 6px;
}

.plantilla__barra {
    height: 12px;
    background: rgb(30, 58, 95);
    border-radius: 10px;
    overflow: hidden;
}

.plantilla__rellenar--95 {
    height: 100%;
    width: 95%;
    background: linear-gradient(90deg, rgb(77, 163, 255), rgb(46, 204, 113));
    border-radius: 10px;
}

.plantilla__rellenar--82 {
    height: 100%;
    width: 82%;
    background: linear-gradient(90deg, rgb(77, 163, 255), rgb(46, 204, 113));
    border-radius: 10px;
}

.plantilla__rellenar--86 {
    height: 100%;
    width: 86%;
    background: linear-gradient(90deg, rgb(77, 163, 255), rgb(46, 204, 113));
    border-radius: 10px;
}

.plantilla__rellenar--93 {
    height: 100%;
    width: 93%;
    background: linear-gradient(90deg, rgb(77, 163, 255), rgb(46, 204, 113));
    border-radius: 10px;
}

.plantilla__rellenar--90 {
    height: 100%;
    width: 90%;
    background: linear-gradient(90deg, rgb(77, 163, 255), rgb(46, 204, 113));
    border-radius: 10px;
}

.partido__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button__text {
    font-size: 20px;
    color: var(--dark-blue);
    background-color: var(--white-color);
    padding: 15px;
    border-radius: 20px;
}
.card__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    display: flex;
    justify-content: center;
    width: 98.5%;
    height: 200px;
    background: linear-gradient(#2a5fa5, #1d4b87);
    border: 4px solid #0c2f5a;
    border-radius: 8px;
    display: flex;
    padding: 8px;
    box-shadow: 0 4px 0 #08213f;
    font-family: var(--pixel-font);
}
.card__img{
    height: 100%;
    width: 100%;
}
.avatar {
    width: 200px;
    height: 200px;
    background: #f2c27b;
    border: 3px solid #0c2f5a;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #333;
}

.info {
    flex: 1;
    margin: 20px 0 0 10px;
    color: white;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.gender {
    color: #7fd0ff;
    margin-left: 4px;
}

.level {
    font-size: 20px;
}

.stats {
    margin-top: 40px;
    font-size: 15px;
}

.stat {
    display: flex;
    align-items: center;
    margin-top: 4px;
    padding: 10px;
}

.label {
    width: 32px;
    font-weight: bold;
}

.bar {
    flex: 1;
    height: 10px;
    background: #0b2e55;
    border-radius: 4px;
    margin: 0 6px;
    overflow: hidden;
}

.fill.hp {
    width: 68%;
    height: 100%;
    background: #f0d030;
}

.fill.mp {
    width: 46%;
    height: 100%;
    background: #7fc8ff;
}

.value {
    font-size: 15px;
}