:root {
    --primary-color: rgb(12, 125, 255);
    --primary-color-transparent: rgba(12, 125, 255, 0.473);
    --secondary-color: rgb(255, 242, 53);
    --secondary-color-transparent: rgba(255, 242, 53, 0.473);
    --primary-font: "Comic Sans MS";
}