:root {
    --primary-color: rgb(12, 125, 255);
    --primary-color-transparent: rgba(12, 125, 255, 0.473);
    --secondary-color: rgb(255, 242, 53);
    --secondary-color-transparent: rgba(255, 242, 53, 0.473);
    --white-color: white;
    --black-color: black;
    --primary-font: 'Montserrat', sans-serif;
    --title-font: 'Bangers', cursive;
}

body {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color), var(--white-color));
    box-sizing: border-box;
    margin: 0;
    font-family: var(--primary-font);
}

.header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: var(--primary-color);
}

.header__content {
    margin-left: 200px;
    padding: 12px;
    color: white;
    display: flex;
}

.header__title {
    font-family: var(--title-font);
    font-weight: lighter;
    gap: 16px;
    font-size: 40px;
}

.header__logo {
    width: 100px;
}

.index {
    background-image: url(images/estadio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 500px;
}

.index__overlay {
    background-color: var(--primary-color-transparent);
    height: 500px;
    align-items: center;
}

.index__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--white-color);
    margin-left: 200px;
}

.index__title {
    font-family: var(--title-font);
    font-weight: lighter;
    font-size: 80px;
    width: 700px;
}

.index__text {
    margin-top: -25px;
    font-size: 28px;
    width: 900px;
}

.index__nav {
    height: 100px;
    padding: 12px;
    color: var(--white-color);
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.index__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-color);
    border-radius: 999px;
    width: 125px;
    height: 45px;
    color: var(--white-color);
    font-size: 18px;
}

.index__link:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.index__link-seleccionado {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    width: 125px;
    height: 45px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 18px;
}

.plantilla__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
}

.plantilla__tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(135deg, var(--primary-color), var(--white-color));
    gap: 20px;
    padding: 40px;
    border-radius: 30px;
    transition: transform 0.5s ease
}

.plantilla__tarjeta--star {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(135deg, var(--secondary-color), var(--white-color));
    gap: 20px;
    padding: 40px;
    border-radius: 30px;
    transition: transform 0.5s ease;
}

.plantilla__img {
    height: 250px;
    width: 400px;
    border-radius: 20px;
}

.plantilla__title {
    color: var(--secondary-color);
}

.plantilla__title--star {
    color: var(--primary-color);
}

.plantilla__text {
    font-size: 20px;
    color: var(--primary-color);
}

.plantilla__text--star {
    font-size: 20px;
    color: var(--black-color);
}

.plantilla__tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.55);
}

.plantilla__tarjeta--star:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(146, 116, 18, 0.769);
}

.plantilla__valoracion {
    width: 320px;
    font-family: Arial, sans-serif;
    color: var(--primary-color);
}

.plantilla__textoBarra {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 6px;
}

.plantilla__barra {
    height: 12px;
    background: rgb(30, 58, 95);
    border-radius: 10px;
    overflow: hidden;
}

.plantilla__rellenar--95 {
    height: 100%;
    width: 95%;
    background: linear-gradient(90deg, rgb(77, 163, 255), rgb(46, 204, 113));
    border-radius: 10px;
}
.plantilla__rellenar--82 {
    height: 100%;
    width: 82%;
    background: linear-gradient(90deg, rgb(77, 163, 255), rgb(46, 204, 113));
    border-radius: 10px;
}
.plantilla__rellenar--86 {
    height: 100%;
    width: 86%;
    background: linear-gradient(90deg, rgb(77, 163, 255), rgb(46, 204, 113));
    border-radius: 10px;
}
.plantilla__rellenar--93 {
    height: 100%;
    width: 93%;
    background: linear-gradient(90deg, rgb(77, 163, 255), rgb(46, 204, 113));
    border-radius: 10px;
}
.plantilla__rellenar--90 {
    height: 100%;
    width: 90%;
    background: linear-gradient(90deg, rgb(77, 163, 255), rgb(46, 204, 113));
    border-radius: 10px;
}